/* footer */
footer{
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;

    .sns{
        display: flex;
        align-items: center;
        gap: 0 24px;

        svg{
            width: 24px;
            height: 24px;
            fill:var(--primary-color);
        }   
    }
}