:root{
    --light-primary-color:#000;
    --light-primary-container-color:#fff;
    --dark-primary-color:#fff;
    --dark-primary-container-color:#000;    
    --primary-color:var(--light-primary-color);
    --primary-container-color:var(--light-primary-container-color);
}
html[data-color-theme="dark"]{
    --primary-color:var(--dark-primary-color);
    --primary-container-color:var(--dark-primary-container-color);
}

/* layout */
body{
    background-color: var(--primary-container-color);
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    color:var(--primary-color);
}
section{
    padding: 48px 0;
}
.inner{
    width: 1080px;
    margin: 0 auto;
}
h2{
    font-size: 48px;
    font-weight: 600;
    margin: 96px 0 32px 0;
}
a{
    color: var(--primary-color);
}
button{
    min-width: 140px;
    height: 48px;
    padding: 4px 16px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-container-color);
    color:var(--primary-color);
    border-radius: 32px;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
    cursor: pointer;
}
.toggle-button-wrap{
    display: flex;
    align-items: center;
}
.button-toggle-label{
    font-size: 12px;
    margin: 0 8px;
}
.button-toggle{
    position: relative;
    min-width: auto;
    width: 48px;
    height: 24px;
    padding: 2px;
    font-size: 1px;
    text-indent: -9999px;
    overflow: hidden;
    background-color: var(--primary-color);

    &::after{
        position: absolute;
        left: 2px;
        right: auto;
        top: 2px;
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        background-color: var(--primary-container-color);
        border-radius: 100%;     
        transition: all 0.3s;   
    }
    &.on::after{
        right: 2px;
        left: auto;         
    }
}