<header>
    <h1 class="logo">THE SIMPLE WEB</h1>
    <nav>
        <ul class="menu-list">
            <li class="menu-list-item"><a href="#">HOME</a></li>
            <li class="menu-list-item"><a href="#">CATALOG</a></li>
            <li class="menu-list-item"><a href="#">CONTACT</a></li>
        </ul>
    </nav>
    <div class="toggle-button-wrap">
        <span class="button-toggle-label">LIGHT</span>
        <button class="button-toggle" id="btnDarkmode">dark mode</button>
        <span class="button-toggle-label">DARK</span>
    </div>
</header>